@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
body {
  font-family: 'Press Start 2P', serif;
}
@tailwind components;
@tailwind utilities;

.rotate-y-90 {
  transform: rotateY(90deg);
}
.rotate-y-0 {
  transform: rotateY(0deg);
}
